.App {
  text-align: center;
}
:root{
  --green:rgb(255, 166, 0);
  --black:#2c2c54;
}
.heading{
  padding: 3rem;
  color: #3B2667;
  font-size: 47px;
}
.card-title{
  padding: 5%;
  white-space: nowrap;
  height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  
}
.card-body{
  margin-top: 2rem;
}
.banner-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.banner-container .banner{
  flex: 1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner-container .banner .content{
  position: absolute;
  top: 50%; left: 4%;
  transform: translateY(-50%);
}
.banner-container .banner .content h3{
  font-size: 3rem;
  color: var(--black);
}
.banner-container .banner .content p{
  font-size: 2rem;
  color: #333;
}
.banner-container .banner:hover img{
transform: scale(1.2) rotate(-5deg);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box img{
  width: 100%;
  height: auto;
  margin-right: 100px;
}

.box-container .box h3{
  font-size: 3.5rem;
  color: var(--black);
}
.box-container .box p{
  font-size: 2rem;
  color: #666;
  padding: .5rem 0;
}
.box-container .box btn{
  display: block;
}


.box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 kutu, her biri 1 fraksiyon genişliğinde */
  grid-gap: 10px; /* kutular arasındaki boşluk */
  width: 100%;
}

.box-container .box{
  flex: 1 1 27rem;
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid #3B2667 ;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
}

.box-container .box img{/*???*/
  width: 15rem;
  height: 9rem;
  margin: 1rem;
}
.box-container .box .price{
  font-size: 144%;
  color: #1a994f;
  padding: 2rem 0;
  margin-top: -2rem;
}
.box-container .box .price span{
  font-size: 1.5rem;
  color: #999;
  text-decoration: line-through;
}
a.btn{
  display: inline-block;
  margin-top: -1rem;
  background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
  color: #fff;
  padding: 1rem 2rem;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

a.btn:hover{
  background: var(--black);
  color: #fff;
}

.btnfooter{
  display: inline-block;
  margin-top: -3rem;
  background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
  color: #fff;
  padding: 1rem 7rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.btnfooter:hover{
  background: var(--black);
  color: #fff;
}
.box-container .box btn{
  display: block;
}

.footer .box-container2{
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.footer .box-container2 .headingh3{
  text-align: left;
}
.footer .box-container2 .text2{
  text-align: left;
}
.footer .box-container2 .share{
  text-align: left;
}
.footer{
  padding: 7%;
  bottom: 0;
}

.footer .box-container2 .logo{
  text-decoration: none;
}

.footer .box-container2 .box2{
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container2 .box2 .share a{
  padding: 0;
  height: 4rem;
  width: 5rem;
  line-height: 4rem;
  text-align: center;
  margin-top: auto;
  margin: 1%;
}

.footer .box-container2 .box2 h3{
  font-size: 2.5rem;
  color: var(--black);
}

.footer .box-container2 .box2 p{
  font-size: 1.3rem;
  color: #666;
  padding: .7rem 0;
}

.footer .box-container2 .box2 .links{
  padding: 1rem 0;
}

.footer .box-container2 .box2 .links a{
  display: block;
  padding: .5rem 0;
  font-size: 1.7rem;
  color: #333;
  text-decoration: none;
}

.footer .box-container2 .box2 .links a:hover{
  text-decoration: underline;
  color: var(--green);
}

.footer .credit{
  padding: 2.5rem 1rem;
  border-top: .1rem solid rgba(0, 0, 0, .1);
  margin-top: 1rem;
  text-align: center;
  font-size: 17px;
}

.footer .credit span{
  color: var(--green);
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image{
  flex: 1 1 40rem;
}
.home .image img{
  width: 90%;
}
.home .content{
  flex: 1 1 40rem;
}
.home .content span{
  font-size: 3rem;
  color: #666;
  text-align: left;
  display: table;
}
.home .content h3{
  font-size: 4rem;
  color: var(--black);
  text-align: left;
}
div.card{
  border:1px solid #fff;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}

div.card-top h1{
  font-size: 1rem;
}
div.card-top > img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}
.category-menu{
  display: flex;
  justify-content: center;
  margin-bottom: 9%;
}
.category-menu a{
  margin-right: 3%;
}

/*basket*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media(max-width:1280px){
.box-container{
  width: 100%;
  height: 100%;
}
.box-container .box{
  padding: 1rem;
}
.btn{
  padding: 1rem 3rem;
  font-size: 18px;
  margin-top: -1rem;
}
div.card-title{
  font-size: 20px;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image{
  flex: 1 1 21rem;
}
.home .image img{
  width: 60%;
  margin-top: 30%;
}
.home .content{
  flex: 1 1 27rem;
  padding-top: 10rem;
  margin-top: 15%;
}
.home .content span{
  font-size: 40px;
}
.home .content h3{
  font-size: 42px;
  color: var(--black);
  text-align: left;
}
.banner-container .banner img {
  height: 70%;
  width: 94%;
}
.banner-container .banner .content{
  top: 38%;
  margin: 2%;
}
.banner-container .banner .content h3{
  font-size: 35px;
}
.banner-container .banner .content p {
  font-size: 20px;
}
}
@media(max-width:1090px){
  .box-container{
    display: grid;
      grid-template-columns:repeat(2, 1fr) ; /* 4 kutu, her biri 1 fraksiyon genişliğinde */
      grid-gap: 20px; /* kutular arasındaki boşluk */
      width: 100%;
  }
  .box-container .box{
    padding: 1rem;
  }
  div.card{
    width: 100%;
    height: 100%;
  }
  .btn{
    padding: 1rem 3rem;
    font-size: 18px;
    margin-top: -1rem;
  }
  .home .image img {
    flex: 1 1 21rem;
}
.home .content{
  padding: 5%;
}
.banner-container .banner .content{
  top: 38%;
  margin: 2%;
}
.banner-container .banner .content h3{
  font-size: 35px;
}
.banner-container .banner .content p {
  font-size: 20px;
}
.category-menu a {
  margin-right: -2%;
  padding: 1rem 1rem 1rem 1rem;
}
img.gif{
  width: 50%;
}

}
@media screen and (min-width: 701px) and (max-width: 767px){

  
}
@media(max-width:700px){
  
  .box-container{
    display: grid;
      grid-template-columns: auto; /* 4 kutu, her biri 1 fraksiyon genişliğinde */
      grid-gap: 5px; /* kutular arasındaki boşluk */
      width: 100%;
  }
  .box-container .box{
    margin-bottom: 15px;
  }
div.card{
  width: 100%;
  height: 100%;
}
.box-container .box img {
  padding: 7%;
  width: 100%;
  height: 100%;
}
.btn{
  padding: 1rem 3rem;
  font-size: 20px;
  margin-top: -1rem;
}
.home .content h3{
  font-size: 35px;
}
.home .content span{
  font-size: 33px;
}
.home .content{
  padding: 2%;
}
.footer .box-container2 .box2 p {
  font-size: 17px;
}
.footer .box-container2 .box2 h3{
font-size: 30px;
}
.footer .box-container2 .box2 .share a{
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  margin: 1%;
}
.footer .box-container2 .box2 .links a {
  padding: 0;
  font-size: 17px;
}
.footer .credit{
  font-size: 16px;
}
.icons{
  display: none;
}

.category-menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 3%;
}
.banner-container .banner .content{
  top: 38%;
  margin: 2%;
}
.banner-container .banner .content h3{
  font-size: 35px;
}
.banner-container .banner .content p {
  font-size: 20px;
}
}
@media(max-width:415px){
  a.btn{
    padding: 0rem 2rem;
    font-size: 25px;
  }
  .heading{
    padding: 1rem;
    font-weight: 600;
  }
  .box-container .box img {
    padding: 2% !important; 
    width: auto !important;
  }
  h2.card-title{
    font-size: 20px;
  }
  h1.basketHeading{
    font-weight: 700;
    margin-top: 2rem;
  }
  div.price{
    font-weight: 700;
  }
  img.gif{
    width: 50%;
  }
  .icons{
    display: none;
  }
  .box-container{
    width: 100%;
    padding: 5%;
    justify-content: center;
    padding: 11%;
  }
  .box-container .box img{
    padding: 13%;
  }
  .btn{
    padding: 1rem 1rem;
    font-size: 15px;
    margin-top: -1rem;
    margin: auto;
  }
  .card-body{
    margin-top: 0;
  }
  section #home{
    margin-top: 5%;
  }
  .home .content{
    padding: 5%;
  }
  .home .content h3{
    font-size: 30px;
  }
  .home .content span{
    font-size: 28px;
  }
  .home .image img {
    margin-top: 35%;
  }
  .footer .box-container2 .box2 p {
    font-size: 17px;
  }
  .footer .box-container2 .box2 h3{
 font-size: 30px;
  }
  .footer .box-container2 .box2 .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    margin: 1%;
  }
  .footer .box-container2 .box2 .links a {
    padding: 0;
    font-size: 17px;
  }
  .footer .credit{
    font-size: 16px;
  }
  
  .category-menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 3%;
}
.category-menu a{
  margin-right: 3%;
}
.heading{
  font-size: 27px;
}
.banner-container .banner .content{
  top: 38%;
  margin: 2%;
}
.banner-container .banner .content h3{
  font-size: 35px;
}
.banner-container .banner .content p {
  font-size: 20px;
}
  }

